@* @using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor *@
@using TesteNovaVida.Models
@model IEnumerable<Aluno>
@{
    var nomeProfessor = @Context.Request.Query["nome"];
}

<!DOCTYPE html>

<style type="text/css">
    body {
    font-family: Arial;
    font-size: 10pt;
    }

    table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    background-color: #fff;
    }

    table th {
    background-color: #B8DBFD;
    color: #333;
    font-weight: bold;
    }

    table th, table td {
    padding: 5px;
    border: 1px solid #ccc;
    }

    table, table table td {
    border: 0px solid #ccc;
    }
</style>


@if (@nomeProfessor != "")
{
    <h2>Alunos do professor: <b style="color: blue">@nomeProfessor</b> </h2>
}
@if (ViewData["Message"] != null)
{
    if (@ViewData["Message"].ToString().Split("#")[3] != "")
    {
        <h2>Alunos do professor: <b style="color: blue">@ViewData["Message"].ToString().Split("#")[3]</b> </h2>
    }
}
<hr />
<br />

@using (Html.BeginForm("Index", "Import",  FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" name="id" value="@Context.Request.RouteValues["id"]" />
    <input type="hidden" name="nome" value="@Context.Request.Query["nome"]" />
    <input class="form-control form-control" type="file" name="postedFile" style="width: unset; display: block;" />

    <input type="submit" id="btnImportar" value="Importar TXT/CSV" class="btn btn-primary" style="margin-top: 10px; display: none" />
}

@if (ViewData["Message"] != null)
{
    <div class="alert alert-danger alert-with-icon" role="alert" style="margin-top: 30px">
        <div class="alert-icon-box" style="display: inline-block; float: left; width: 40px; position: relative; top: 10px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock alert-icon">
                <circle cx="12" cy="12" r="10"></circle>
                <polyline points="12 6 12 12 16 14"></polyline>
            </svg>
        </div>
        <b>Mensagem:</b> @ViewData["Message"].ToString().Split("#")[0] <b>@ViewData["Message"].ToString().Split("#")[1] </b>
        <br />
        <b>Status Code:</b> @ViewData["Message"].ToString().Split("#")[2]
    </div>
}

<hr />
<div class="d-inline-block">
    @if (@nomeProfessor != "")
    {
        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ListarAlunosProfessor", "Professors",  new { id = @Context.Request.RouteValues["id"], nome = nomeProfessor })'">Voltar</button>

    }
    @if (ViewData["Message"] != null)
    {
        if (@ViewData["Message"].ToString().Split("#")[3] != "")
        {
            <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ListarAlunosProfessor", "Professors",  new { id = @Context.Request.RouteValues["id"], nome = @ViewData["Message"].ToString().Split("#")[3] })'">Voltar</button>
        }
    }
</div>

<script src="~/js/jquery.js"></script>
<script type="text/javascript">


    $(document).ready(function() {
      $('input[type="file"]').change(function() {
        // Get the DOM element from the jQuery object
        const fileInput = $(this)[0];

        // Check the length of the files property
        if (fileInput.files.length > 0) {
             $("#btnImportar").show();
          // Perform actions when a file is selected
        } else {
             $("#btnImportar").hide();
          // Perform actions when no file is selected
        }
      });
    });
</script>
